/* .box {
  width: 200px;
  height: 200px;
  position: relative;
  perspective: 800px;
}

.box .front,
.box .back {
  width: inherit;
  height: inherit;
  transition: 1s transform;
  position: absolute;
  backface-visibility: hidden;
}

.box .front {
  background-color: lightblue;
}

.box .back {
  background-color: lightcoral;
  transform: rotateY(-180deg);
}

.box:hover .front {
  transform: rotateY(180deg);
}

.box:hover .back {
  transform: rotateY(0);
} */

/* .skew-box {
  width: 200px;
  height: 200px;
  background-color: red;
  transition: 1s transform;
}

#checkbox:checked + .skew-box {
  transform: skewY(90deg);
} */

/* .button {
  display: block;
  line-height: 50px;
  padding: 0 20px;
  text-decoration: none;
  color: #333;
  border: 2px solid #ccc;
  width: 200px;
  text-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.button::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: lightcoral;
  position: absolute;
  z-index: -1;
  top: 0;
  left: -120%;
  transition: 1s left;
  transform: skew(-10deg);
}

.button:hover::before {
  left: -30%;
} */

/* .scale-box{
    width: 200px;
    height: 200px;
    background-color: lightblue;
    transition: 300ms transform;
}

.scale-box:hover{
    transform: scale(1.1);
}

.scale-box:nth-child(2){
    background-color: lightcoral;
} */

/* .menu-button {
  position: fixed;
  top: 20px;
  left: 20px;
  border: 2px solid #333;
  padding: 5px 10px;
  font: bold 16px Arial, sans-serif;
}

#checkbox {
  display: none;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  background-color: #000;
  height: 100%;
  transition: 300ms transform;
  transform: translateX(100%);
}

.menu ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 7px 0;
}

#checkbox:checked + .menu {
  transform: translateX(0);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: 300ms opacity;
}

.popup .popup-inner {
  width: 400px;
  height: 400px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#checkbox:checked + .popup {
  opacity: 1;
  visibility: visible;
} */

.container {
  border: 3px dashed red;
  display: inline-block;
}

.box {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  transition: 1s transform;
  transform-origin: top left;
}
/* 
#checkbox:checked + .container .box{
    transform: rotate(30deg) skew(10deg) scale(.8) translate(10px); 
    transform:matrix(0.69282, 0.4, -0.277837, 0.763351, 6.9282, 4);
}*/

.box:hover {
  transform: rotate(40deg);
}
