abbr[title] {
  color: green;
}

img[alt] {
  border: 3rem dashed blue;
  border-radius: 3rem;
}

img[height] {
  border: 6rem solid tomato;
}

a[target="_blank"] {
  text-decoration: none;
  font-size: 3rem;
}
