/* @font-face {
  font-family: "Bestie";
  src: url("BestieRegular.eot");
  src: local("Bestie"), local("BestieRegular"),
    url("BestieRegular.eot?#iefix") format("embedded-opentype"),
    url("BestieRegular.woff2") format("woff2"),
    url("BestieRegular.woff") format("woff"),
    url("BestieRegular.ttf") format("truetype"),
    url("BestieRegular.svg#BestieRegular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

div {
  font-family: "Bestie";
  font-size: 5rem;
} */

div {
  font-family: "Edu TAS Beginner", cursive;
  font-size: 3rem;
}
