div{
  background-color: gray;
  color: black;
  text-align: left;
  display: inline;
  padding-bottom: 0;
  margin-bottom: 0;
}

#urunler {
  display: none;
  background-color: rgb(208, 98, 98);
  width: 80px;
  position: absolute;
}

div a {
  text-decoration: none;
}

div ul {
  margin-top: 0;
}

div ul li {
  margin-left: -25px;
  margin-top: 3px;
}

.baslik:hover #urunler {
  display: block;
  cursor: pointer;
}

div.baslik a #urunler ul li:hover {
  background-color: aqua;
}
