.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50vh;
    gap:50px;
    flex-wrap: wrap;
    align-content: space-around;
    
  
  }
  
  .container div:nth-child(1) {
    background-color: blueviolet;
    flex: 1 1 200px;
  }
  .container div:nth-child(2) {
    background-color: rgb(208, 226, 43);
    flex: 1 1 100px;
    
  }
  .container div:nth-child(3) {
    background-color: rgb(43, 83, 226);
    flex: 1 0 50px;
    
  }
  .container div:nth-child(4) {
    background-color: rgb(226, 43, 49);
    flex: 1 1 200px;
    
  }
  .container div:nth-child(5) {
    background-color: rgb(43, 226, 192);
    
  }
  .container div:nth-child(6) {
    background-color: rgb(226, 137, 43);
    
  }