.kutu {
  height: 150px;
}

#kutu1 {
  background-color: pink;
  padding: 20px;
  /*   kutunun icindeki yazinin kutu etrafindan 20px bosluk birakti*/
}

#kutu2 {
  background-color: rgb(8, 235, 235);
}

#kutu3 {
  background-color: rgb(244, 200, 147);
}

span {
  background-color: aqua;
  display: inline-block;
  margin: 15px;
  width: 200px;
  padding: 40px;
}
