div {
  width: 800px;
  height: 300px;
  border: 2px solid black;
}

p {
  font-size: 22px;
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 5px;
  line-height: 150%;
}

h2{
    text-transform:capitalize;
}

span{
    font-style: italic;
    font-weight: bold;
}

a{
    color: darkgoldenrod;
    text-decoration:none;
}
