h1 {
  color: blue;
  background-color: brown;
  text-align: center;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
}

p {
  color: aqua;
  background-color: rgb(25, 65, 100);
}

mark {
  color: brown;
  background-color: aliceblue;
}
