@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Dancing+Script&family=Phudu:wght@600&display=swap");

body {
  font-family: "Black Ops One", cursive;
  font-family: "Dancing Script", cursive;
  font-family: "Phudu", cursive;
}
