.input-menu {
  display: none;
  position: absolute;
}

.altmenu ul li {
  list-style-type: none;
}

.altmenu {
  display: none;
}

.label-menu {
  cursor: pointer;
}

.input-menu:checked + .altmenu {
  display: block;
}

.altmenu ul {
  list-style: none;
  padding: 0;
}

.altmenu ul li {
  margin: 10px 0;
}

.altmenu a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}
