:root {
  --color1: rgb(241, 196, 15);
  --color2: rgb(44, 62, 88);
  --color3: rgb(231, 76, 60);
  --color4: rgb(236, 249, 241);
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  /* background-color: var(--color2); */
}

/* HEADER */
header {
  background-color: var(--color1);
  color: var(--color2);
  text-align: center;
  padding: 1rem;
  border-bottom: 3px solid var(--color3);
}

h1 {
  margin: 0;
}

/* NAVIGATION */

nav {
  background-color: var(--color2);
  padding: 1rem;
}

.menu-container {
  position: relative;
}

.menu {
  color: var(--color4);
  cursor: pointer;
  font-size: 2rem;
  display: inline-block;
}

.menu-links {
  display: none;
  flex-direction: column;
  background-color: var(--color1);
  position: absolute;
  border-radius: 5px;
}

.menu-link {
  text-decoration: none;
  color: var(--color2);
  display: inline-block;
  padding: 0.5rem 1.5rem;
}
.menu-link:hover {
  background-color: var(--color3);
  color: var(--color4);
  border-radius: 5px;
}

#menu {
  display: none;
}

#menu:checked + .menu-links {
  display: flex;
}

/* MAIN */

main {
  padding: 1rem;
  background-color: var(--color4);
}

.stage {
  margin-bottom: 2rem;
  padding: 1rem;
  border: 2px solid var(--color3);
}

.stage:nth-child(1) > h2::before {
  content: "🎉";
  margin-right: 0.5rem;
}
.stage:nth-child(2) > h2::before {
  content: "🎤";
  margin-right: 0.5rem;
}
.stage:nth-child(3) > h2::before {
  content: "🎤";
  margin-right: 0.5rem;
}
.stage:nth-child(4) > h2::before {
  content: "🗓️";
  margin-right: 0.5rem;
}

footer {
  background-color: var(--color2);
  text-align: center;
  padding: 2rem;
  border-top: 3px solid var(--color3);
  color: var(--color1);
}

footer a {
  text-decoration: none;
  color: var(--color1);
}

footer p {
  margin: 0;
}
